.myLink {
  display: block;
  padding: 5px;
}
.myLink:hover {
  background-color: rgba(247, 247, 125, 0.897);
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  cursor: pointer;
}

.myLink i {
  margin: 0 0.5rem;
}
