body {
  font-family: 'Lucida Sans', Verdana, Geneva, Tahoma, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  width: 100%;
  grid-template-rows: 50px 100px 150px;
  grid-template-areas:
    'nav nav nav nav nav'
    'aside add-note add-note add-note add-note'
    'aside note-list note-list note-list note-list';
}

.main-nav {
  grid-area: nav;
}

.add-note {
  grid-area: add-note;
}

.note-list {
  grid-area: note-list;
}

.aside {
  grid-area: aside;
}
